<header class="page-header text-center">
  <h3>Wpisz kwoty:</h3>
</header>
<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#contributions-zus" aria-controls="contributions-zus" role="tab" data-toggle="tab">Składki ZUS</a></li>
      <li><a href="#income-tax" aria-controls="income-tax" role="tab" data-toggle="tab">Podatek dochodowy</a></li>
      <li><a href="#vat" aria-controls="vat" role="tab" data-toggle="tab">Podatek VAT</a></li>
    </ul>
  </div>
  <div class="col-xs-12 tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="contributions-zus">
      <div class="row">
        <div class="col-xs-12">
          <table id="table-contributions-zus" class="no-border-x table table-striped table-hover">
            <thead>
              <tr>
                <th>Miesiąc</th>
                <th>Okres</th>
                <th>Społeczne</th>
                <th>Zdrowotne</th>
                <th>Fundusz Pracy</th>
                <th>Termin Płatności</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Styczeń</th>
                <td>201501</td>
                <td>650,45 zł</td>
                <td>279,41</td>
                <td>58,20</td>
                <td>10.02.2015</td>
              </tr>
              <tr>
                <th>Luty</th>
                <td>201502</td>
                <td>650,45 zł</td>
                <td>279,41</td>
                <td>58,20</td>
                <td>10.03.2015</td>
              </tr>
              <tr>
                <th>Marzec</th>
                <td>201503</td>
                <td>650,45 zł</td>
                <td>279,41</td>
                <td>58,20</td>
                <td>10.04.2015</td>
              </tr>
              <tr>
                <th>Kwiecień</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Maj</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Czerwiec</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Lipiec</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Sierpień</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Wrzesień</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Październik</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Listopad</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Grudzień</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>    
          <p class="text-right"><button type="button" class="btn btn-primary">Zapisz</button></p>               
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="income-tax">
      <table id="table-income-tax" class="no-border-x table table-striped table-hover">
          <thead>
              <tr>
                <th>Miesiąc</th>
                <th>Okres</th>
                <th>Kwota</th>
                <th>Termin Płatności</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <th>Styczeń</th>
                <td>201501</td>
                <td>650,45 zł</td>
                <td>10.02.2015</td>
              </tr>
              <tr>
                <th>Luty</th>
                <td>201502</td>
                <td>650,45 zł</td>
                <td>10.03.2015</td>
              </tr>
              <tr>
                <th>Marzec</th>
                <td>201503</td>
                <td>650,45 zł</td>
                <td>10.04.2015</td>
              </tr>
              <tr>
                <th>Kwiecień</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Maj</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Czerwiec</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Lipiec</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Sierpień</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Wrzesień</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Październik</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Listopad</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Grudzień</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
          </tbody>
      </table>    
      <p class="text-right"><button type="button" class="btn btn-primary">Zapisz</button></p>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="vat">
      <table id="table-vat" class="no-border-x table table-striped table-hover">
          <thead>
              <tr>
                <th>Miesiąc</th>
                <th>Okres</th>
                <th>Kwota</th>
                <th>Termin Płatności</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <th>Styczeń</th>
                <td>201501</td>
                <td>45,45 zł</td>
                <td>10.02.2015</td>
              </tr>
              <tr>
                <th>Luty</th>
                <td>201502</td>
                <td>45,45 zł</td>
                <td>10.03.2015</td>
              </tr>
              <tr>
                <th>Marzec</th>
                <td>201503</td>
                <td>45,45 zł</td>
                <td>10.04.2015</td>
              </tr>
              <tr>
                <th>Kwiecień</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Maj</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Czerwiec</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Lipiec</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Sierpień</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Wrzesień</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Październik</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Listopad</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Grudzień</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
          </tbody>
      </table>    
      <p class="text-right"><button type="button" class="btn btn-primary">Zapisz</button></p>
    </div>
  </div>
</div>
<form action="" method="post" class="row">
  <section id="comments" class="col-xs-12">
    <header class="page-header text-center">
      <h4>Komentarz od Księgowego - składki ZUS:</h4>
    </header>
    <div class="form-group">
      <label for="comments-area" class="hidden">Komentarz od księgowego:</label>
      <textarea class="form-control" name="comments-area" id="comments-area" cols="50" rows="6">Pole tekstowe do wypełnienia dla księgowego</textarea>  
    </div>
    <p class="text-right"><button type="button" class="btn btn-primary">Zapisz</button></p>           
  </section>
  <section id="drop-down" class="col-xs-12">
    <header class="page-header text-center">
      <h4>Prześlij dokumenty ze swojego komputera:</h4>
    </header>
    <div class="form-group center-block table-block">
      <div class="radio">
        <label>
          <input type="radio" name="sendFiles" id="send-as-accountant" value="send-as-accountant" checked="checked">
          wyślij jako Księgowy
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="sendFiles" id="send-as-user" value="send-as-user">
          wyślij jako Użytkownik
        </label>
      </div>
    </div>
    <div id="dropdown-area" class="text-center center-block table-block">
      <div class="form-group">
        <label for="fileToUpload">Upuść pliki tutaj <br>lub</label>
        <input type="file" class="btn btn-success" name="fileToUpload" id="fileToUpload">
      </div>                
    </div>      
    <hr>
  </section>
  <section id="documents-details" class="col-xs-12">
    <header class="hidden page-header text-center">
      <h4>Szczegóły dotyczące dokumentów od i do księgowego:</h4>
    </header>
    <div class="row">
      <div class="col-sm-8">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#docs-from" aria-controls="docs-from" role="tab" data-toggle="tab">Dokumenty otrzymane od Księgowego</a></li>
          <li><a href="#docs-to" aria-controls="docs-to" role="tab" data-toggle="tab">Dokumenty wysłane Księgowemu</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="docs-from">
            <table id="table-docs-from" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Nazwa</th>
                  <th>Data wysłania</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Faktura 1</td>
                  <td>20.01.2016 r.</td>
                </tr>
                <tr>
                  <td>Faktura 2</td>
                  <td>20.01.2016 r.</td>
                </tr>
              </tbody>
            </table>
            <p class="center-block text-center">
              <button type="button" class="btn btn-primary">Pobierz wyświetlone elementy jako ZIP</button>   
            </p>            
          </div>
          <div role="tabpanel" class="tab-pane fade" id="docs-to">
            <table id="table-docs-to" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Nazwa</th>
                  <th>Data wysłania</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Faktura 3</td>
                  <td>20.01.2016 r.</td>
                </tr>
                <tr>
                  <td>Faktura 4</td>
                  <td>20.01.2016 r.</td>
                </tr>
              </tbody>
            </table>
            <p class="center-block text-center">
              <button type="button" class="btn btn-primary">Pobierz wyświetlone elementy jako ZIP</button>   
            </p>             
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <header class="text-center">
          <h3>Data wysłania</h3>                      
        </header>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <input type="date" class="form-control">
          </div>
          <div class="col-sm-6">
            <input type="date" class="form-control">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 text-center">
            <button class="btn btn-danger">Filtruj</button>
          </div>
        </div> 
      </div>
    </div>
  </section>
</form>
<hr>